@import "colors.scss";

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    // background-color: #f7efee;
    height: 100vh;
}

// .text {
//     // font-family: 'Courgette', cursive
// }

.header-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.header-picture {
    margin-top: 8%;
    height: 400px;
    width: 400px;
    margin-bottom: 10%;
}

.title{
    display: grid;
    justify-content: center;
    margin: 0;
}

.open-hours-container {
    grid-template-rows: repeat(4)7fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.day-time-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 2em;
}

.day{
    text-align: end;
    margin: 10px;
}

.time {
    margin: 10px;
    transform: translateX(5%);
}

.last-day {
    margin-bottom: 15px;
}

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.social-link {
    display: grid;
    font-size: 1.5em;
    justify-content: center;
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'left center right';
    gap: 0.5em;

    .button-text{
        padding: 5px;
        background-color: $grey;       
    }

    #home-button{
        grid-area: center;
    }
}

.button{
    display: grid;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6rem;
    // background-color: $grey;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
    cursor:pointer;
}



.button:hover{
    background-color:rgb(131, 131, 131);
    transition: 0.35s;
}

.icons {
    height: 1.2em;
}

footer {
    text-align: center;
}

